.container {
    width: 960px;
    height: 960px;

    max-width: 960px;
    min-width: 960px;
    max-height: 960px;
    min-height: 960px;
    background-color: lightcoral;

    display: flex;
    flex-wrap: wrap;
}

.child-div {
    background-color: rgb(114, 229, 72);
    width: 58px;
    height: 58px;

    border: 1px solid black;
    min-width: 58px;
    
}